$main_font: 'GoogleSans';
$main_background: #e5e5e5;
$footer_background: rgba(72, 100, 230, 0.1);
$footer_color: #878383;
$blue: #526ae5;
$grey: #a8aabb;
$error: #ff5f74;
$card_background: #f7f8fc;
$capital_color: #464457;
$card_capital_color: #595d6e;
$card_main_color: #68677b;
$input_text_color: #a7abc3;
$sidebar_background_hover: #f5f6fc;
$mobile_background_color: #f6f7fc;
