$main_font: 'GoogleSans';
$main_background: #e5e5e5;
$footer_background: rgba(72, 100, 230, 0.1);
$footer_color: #878383;
$blue: #526ae5;
$grey: #a8aabb;
$error: #ff5f74;
$card_background: #c4c4c4;
$capital_color: #464457;
$card_capital_color: #595d6e;
$card_main_color: #68677b;
$input_text_color: #a7abc3;
